In [41]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [42]:
df=pd.read_csv("C:\\Users\\adhil\\OneDrive\\Desktop\\machineworks\\FEATURENGINEERING\\student_data.csv.xls")

In [43]:
df.head()

,StudentID,Age,Gender,Ethnicity,ParentalEducation,StudyTimeWeekly,Absences,Tutoring,ParentalSupport,Extracurricular,Sports,Music,Volunteering,GPA,GradeClass
0,1001,17,1,1,3,16,13,0,2,0,0,0,0,3.158425,1
1,1002,18,1,2,0,17,28,0,2,1,1,1,0,2.794655,2
2,1003,15,1,0,1,13,18,1,4,0,0,0,1,3.774847,0
3,1004,17,1,0,3,6,4,0,3,1,0,0,0,3.040574,1
4,1005,17,0,1,2,6,20,0,4,0,0,0,0,3.382310,1

In [44]:
df.tail()

,StudentID,Age,Gender,Ethnicity,ParentalEducation,StudyTimeWeekly,Absences,Tutoring,ParentalSupport,Extracurricular,Sports,Music,Volunteering,GPA,GradeClass
4995,5996,15,0,3,2,12,22,0,2,0,1,1,0,4.000000,0
4996,5997,16,0,1,2,1,2,0,2,0,1,0,0,2.533415,2
4997,5998,17,1,1,3,18,18,1,0,1,0,0,1,4.000000,0
4998,5999,16,0,2,2,15,0,0,2,1,1,1,0,4.000000,0
4999,6000,18,1,2,4,4,23,0,0,1,0,0,1,2.000000,3

In [45]:
df.shape

(5000, 15)

In [46]:
df.isnull().sum()

StudentID            0
Age                  0
Gender               0
Ethnicity            0
ParentalEducation    0
StudyTimeWeekly      0
Absences             0
Tutoring             0
ParentalSupport      0
Extracurricular      0
Sports               0
Music                0
Volunteering         0
GPA                  0
GradeClass           0
dtype: int64

In [55]:
df.dtypes

Age                  int64
Gender               int64
Ethnicity            int64
ParentalEducation    int64
StudyTimeWeekly      int64
Absences             int64
Tutoring             int64
ParentalSupport      int64
Extracurricular      int64
Sports               int64
Music                int64
Volunteering         int64
GPA                  int64
GradeClass           int64
dtype: object

In [48]:
df["GPA"]=df["GPA"].astype("int")

In [49]:
df.drop(columns="StudentID",inplace=True)

In [50]:
X=df.iloc[:,:-1]
Y=df.iloc[:,-1]

In [51]:
X

,Age,Gender,Ethnicity,ParentalEducation,StudyTimeWeekly,Absences,Tutoring,ParentalSupport,Extracurricular,Sports,Music,Volunteering,GPA
0,17,1,1,3,16,13,0,2,0,0,0,0,3
1,18,1,2,0,17,28,0,2,1,1,1,0,2
2,15,1,0,1,13,18,1,4,0,0,0,1,3
3,17,1,0,3,6,4,0,3,1,0,0,0,3
4,17,0,1,2,6,20,0,4,0,0,0,0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,15,0,3,2,12,22,0,2,0,1,1,0,4
4996,16,0,1,2,1,2,0,2,0,1,0,0,2
4997,17,1,1,3,18,18,1,0,1,0,0,1,4
4998,16,0,2,2,15,0,0,2,1,1,1,0,4
4999,18,1,2,4,4,23,0,0,1,0,0,1,2

In [52]:
Y

0       1
1       2
2       0
3       1
4       1
       ..
4995    0
4996    2
4997    0
4998    0
4999    3
Name: GradeClass, Length: 5000, dtype: int64

In [54]:
from sklearn.preprocessing import  MinMaxScaler
scaler=MinMaxScaler()
Xscale=scaler.fit_transform(X)
Xscale

array([[0.66666667, 1.        , 0.33333333, ..., 0.        , 0.        ,
        0.5       ],
       [1.        , 1.        , 0.66666667, ..., 1.        , 0.        ,
        0.        ],
       [0.        , 1.        , 0.        , ..., 0.        , 1.        ,
        0.5       ],
       ...,
       [0.66666667, 1.        , 0.33333333, ..., 0.        , 1.        ,
        1.        ],
       [0.33333333, 0.        , 0.66666667, ..., 1.        , 0.        ,
        1.        ],
       [1.        , 1.        , 0.66666667, ..., 0.        , 1.        ,
        0.        ]], shape=(5000, 13))

In [56]:
from sklearn.model_selection import train_test_split
X_train,x_test,Y_train,y_test=train_test_split(Xscale,Y,test_size=0.2)

In [57]:
x_test

array([[0.66666667, 1.        , 0.        , ..., 1.        , 0.        ,
        1.        ],
       [0.33333333, 1.        , 0.33333333, ..., 0.        , 0.        ,
        0.5       ],
       [0.66666667, 1.        , 0.66666667, ..., 1.        , 0.        ,
        0.5       ],
       ...,
       [0.66666667, 0.        , 1.        , ..., 0.        , 0.        ,
        0.        ],
       [0.66666667, 0.        , 0.        , ..., 0.        , 0.        ,
        0.5       ],
       [0.66666667, 1.        , 0.66666667, ..., 0.        , 0.        ,
        0.        ]], shape=(1000, 13))